<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <header class="header">
          <p class="title">Edit Ride</p>
        </header>

		<%= form_for @ride, url: ride_path, method: "patch" do |f|%>
			<%= f.text_field :origin, :placeholder => @origin, :class => "form-control", :id => "autocomplete"%><br></div>
			<%= f.text_field  :destination, :placeholder => @destination, :class => "form-control", :id => "autocompleteEnd"%><br>
			<%= f.text_field :ride_name, :placeholder => "Ride Name", :class => "form-control", :id => "ride-name"%><br>
			<%= f.hidden_field :origin_latitude, :class => "form-control", :id => "oLatitude"%><br>
			<%= f.hidden_field :origin_longitude, :class => "form-control", :id => "olongitude"%><br>
			<%= f.submit "Save Changes", :class => "btn-primary btn-block", :id => "callRide" %><br>
       <%end%>

    </div>
   </div>
  </div>
  
 <script type="text/javascript">
  
  initAutocomplete();

  </script>