
<div id ="map"></div>
<h1>Start Tracking Now</h1>
<div class="ride-info">
<h4>
<div id = "uber" data-string="<%=@uber%>"></div>	
<div id = "oAddress" data-string="<%=@origin%>">Origin Address: <%= @origin%></div>
<div id="dAddress" data-string="<%=@destination%>">Destination Address: <%= @destination%></div></br>
<div id="ride-cost"></div>
<div id="myRide" data-string="<%@ride.ride_name%>">Ride Name: <%= @ride.ride_name%></div>
</h4>
</div>

<div class="container">
  <h2>Uber Ride Prices At Current Time</h2>
  <div>
    <canvas id="canvas"></canvas>
  </div>
</div>
<div id="warnings-panel"></div>

 <script type="text/javascript">
ridetrack();

</script>